#fButton {
  font-size: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #57a3d9;
  color: #e5e5e5;
  text-align: center;
  border: none;
  border-radius: 50%;
  position: fixed;
  top: calc(50% - 10px);
  right: 15px;
  z-index: 30000001;
  transition: opacity 0.2s;
  opacity: 0.5;
}

#fbRight {
  font-size: 1.5rem;
  margin-top: 8px;
  margin-left: -4px;
}

#fbLeft {
  font-size: 1.5rem;
  margin-top: 8px;
  margin-left: -4px;
}

.button_title {
  font-size: 0.8 rem;
  cursor: pointer;
  background-color: #57a3d9;
  color: #e5e5e5;
  border: 8px solid #57a3d9;
  border-radius: 5px;
  position: fixed;
  top: calc(50% - 10px);
  z-index: 30000001;
  display: none;
}

#fTitle {
  right: 60px;
}

#bButton {
  font-size: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #57a3d9;
  color: #e5e5e5;
  text-align: center;
  border: none;
  border-radius: 50%;
  position: fixed;
  top: calc(50% - 10px);
  left: 15px;
  z-index: 30000001;
  transition: opacity 0.2s;
  opacity: 0.5;
}

#bTitle {
  left: 60px;
}

#fButton:hover, #bButton:hover {
  opacity: 1;
}

@media only screen and (max-width: 1350px) {
  #fButton {
    display: none;
  }
  #bButton {
    display: none;
  }
}

@media print {
  #fButton {
    display: none;
  }
  #bButton {
    display: none;
  }
}