/*Put the CSS that goes with the React project here!*/
#LibreTextsSidebar > .MuiDrawer-paper {
    background: #ececec;
}

#LibreTextsSidebar .SidebarItem {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #595959;
    text-decoration: none;
}

#LibreTextsSidebar .SidebarItem > [class*="mt-icon"] {
    font-size: x-large;
}

#LibreTextsSidebar .SidebarItem > .MuiListItemIcon-root > img {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

#LibreTextsSidebar .MuiAccordionDetails-root {
    width:100%;
    padding: 0;
}

#LibreTextsSidebar .MuiAccordionDetails-root iframe {
    width:100%;
    min-height: 350px;
    overflow: auto;
}

