.status {
    padding: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 5px 20px 5px;
}

.CenterContainer > .navigationBar {
    border-radius: 10px;
    color: white;
    background-color: #127bc4;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
}

.navigationBar select, .navigationBar > option {
    background: #127bc4;
    width: fit-content;
    color: white;
}

#results {
    white-space: pre;
    max-height: 400px;
}

#FindReplace {
    display: flex;
    flex-direction: column;
}

#RevisionLog .MuiAccordionSummary-content {
    justify-content: space-between;
    user-select: text;
}

.topPanel {
    display: flex;
    margin: 0px 10px;
}

.topPanel > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    flex: 1;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
}

.topPanel label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topPanel .List a {
    white-space: nowrap;
}

.topPanel label:after, .navigationBar label:after {
    content: none;
}

.MuiIconButton-label > input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
}

.MuiButtonBase-root {
    padding: 0;
    margin: 0 10px;
}

.MuiTableCell-body > img {
    height: 20px !important;
}

.MuiTableCell-head {
    font-size: 1rem;
    background: #323232;
    color: white;
}

.MuiTableCell-head .MuiButtonBase-root {
    color: white;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #008000;
}

.inputError {
  color: #D03E3E;
  border: 1px solid #D03E3E;
}

.inputError::placeholder {
  color: #D03E3E;
}

.polyglotEngine-passInput {
  display: flex;
}

.polyglotEngine-passInput > input {
  flex: 1;
}

.polyglotEngine-submitBtn {
  margin-left: 0;
  margin-top: 1em;
}

/*CSS Spinner*/
.spinner {
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: white;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
