#referenceInput {
    width: inherit;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#referenceInput #referenceInput-Text {
    width: 500px;
}

#referenceDisplay {
    list-style-type: none;
    width: inherit;
    padding: 0px;
}

#referenceDisplay li {
    font-family: Monospaced;
    color: black;
    padding: 5px;
    width: 500px;
}

.newReference:hover {
    background-color: #127bc4;
}

#referenceModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: black
}

/* Modal Content */
#referenceModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
}

/* The Close Button */
#referenceModalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#referenceModalBtn{
    margin-top: 5px;
    border-radius: 0px;
}

#referenceModalClose:hover,
#referenceModalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.newReference {
    border-color: black;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    width: inherit;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.newReference:last-child {
    border-width: 1px 0px 1px 0px;
}

.pageBibliography {
    list-style-type: none;
}