#referenceInput-Div {
    width: 50%;
    padding: 10px;
    display: inline-flex;
    height: 25px;
}

#referenceInput-Div #referenceInput-Text {
    margin-right: 10px;
}

#referenceDisplay-Div {
    width: 50%;
    padding: 10px;
    display: inline-grid;
}

#referenceDisplay-Div ul {
    font-family: Serif;
    font-size: 10px;
}