a.toggler {
  background: #474747;
  cursor: pointer;
  border: 2px solid #d3d3d3;
  border-left-width: 230px;
  padding: 0 5px;
  border-radius: 5px;
  text-decoration: none !important;
  color: #fff !important;
  transition: all .5s ease;
  text-align: center;
}

a.toggler.off {
  border-left-width: 2px;
  border-right-width: 230px;
}

#attrModal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-content: center;
}

#attrModalContent {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 40vw;
  margin-left: 520px;
  z-index: 30000001;
  top: calc(50% - 137px);
  position: absolute;
  border-radius: 10px;
}

#attr-copy, #attr-author, #attr-html, #attr-program {
  color: #666;
  text-decoration: none;
  transition: 1s;
}

#attr-text a {
  color: #0645AD;
}

#attr-text a:hover {
  font-style: italic !important;
}

#attr-copy:hover, #attr-author:hover, #attr-html:hover, #attr-program:hover {
  font-style: italic !important;
}

.custom_field {
  margin: 0 auto;
}

.custom_field a {
  margin: 10px;
}

.slider_ar {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 0px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider_ar:hover {
  opacity: 1;
}

.slider_ar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 19px;
  height: 18px;
  border-radius: 0%;
  background: black;
  cursor: pointer;
}

.slider_ar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

#fs, #fs2, #darkbtn, #size, #slider-page-width, #ta {
  margin-top: 2px;
  margin-left: 10px;
  max-width: 95%;
}

#slider-page-width {
  direction: rtl;
}

.custom_sidebar {
  cursor: pointer;
  height: 100%;
  width: 480px;
  display: block;
  position: fixed;
  z-index: 1000000000;
  top: 0;
  left: 0;
  background-color: #ececec;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0s;
  border-right: 1px solid black;
}

.custom_sidebar .custom_close {
  position: absolute;
  top: 0px;
  color: #127bc4;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

.custom_sidebar .custom_close:hover {
  color: #E5F5FE;
}

.custom_sidebar a, .custom_sidebar b {
  padding: 2px;
  text-decoration: none;
  font-size: 18px;
  color: #595959;
  display: block;
}

.custom_sidebar p {
  padding: 5px;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 18px;
  color: #595959;
}

.custom_sidebar h3 {
  padding: 5px;
  margin-left: 10px !important;
  margin-top: 5px !important;
  margin-bottom: 2px !important;
}

.custom_sidebar #text-align-field span {
  padding: 5px;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 18px;
  color: #595959;
}

.custom_sidebar a:hover {
  color: #127bc4;
}

.custom_sidebar #doBeeLine {
  margin-left: 10px;
  margin-top: 2px;
  max-width: 95%;
}

.custom_sidebar #doBeeLine a {
  margin-top: 10px;
  max-width: 88%;
  text-align: center;
  margin-left: 6%;
}

#custom_open {
  width: 43.333px;
  height: 43.333px;
  font-size: 15px;
  cursor: pointer;
  background-color: #127bc4;
  color: #e5e5e5;
  border: none;
  border-radius: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 30000001
}

.openbtn:hover {
  background-color: #444;
}

.custom_dropbtn {
  margin-left: 10px;
  width: 85%;
  background-color: #30b3f6;
  color: white;
  font-family: 'Arial';
  padding: 10px;
  font-size: 16px;
  border: none;
}

.custom_dropbtn p {
  padding: 0;
  margin-left: 0;
  color: inherit;
  background-color: none;
}

.custom_dropdown {
  margin-top: 10px;
  display: block;
}

.custom_dropdown-content {
  width: 90%;
  display: none;
  position: absolute;
  background-color: #E5F5FE;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.custom_sidebar #custom_dropdown-content0 a {
  color: black;
  padding: 12px 16px;
  font-family: 'Arial';
  text-decoration: none;
  display: block;
}

.top-bar {
  cursor: pointer;
  top: 0;
  width: 30px;
  padding-top: 5px;
  background-color: #E5F5FE;
  position: fixed;
  z-index: 10000000000;
  display: flex;
  flex-direction: column;
  height: 410px;
  border-right: 1px solid #137ac3;
}

.top-bar-unit {
  flex: 1;
}

.top-bar .top-bar-unit h5 {
  transform: rotate(90deg);
  font-size: 1rem !important;
  font-weight: 300;
}

.custom_sidebar #custom_dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-family: 'Arial';
  text-decoration: none;
  display: block;
}

.sidebar_unit {
  background-color: #E6E6E6;
  padding: 28px;
  margin-top: 10px;
}

.custom_dropdown-content a:hover {
  background-color: #aaa9ad;
}

.sidebar_unit:hover .custom_dropdown-content {
  display: block;
}

.custom_dropdown:hover .custom_dropdown-content {
  display: block;
}

.custom_dropdown:hover .custom_dropbtn {
  background-color: #aaa9ad;
}

#custom_target {
  padding: 10px;
}

.custom_sidebar #custom_target h6 {
  padding: 2px;
  text-decoration: none;
  font-size: 18px;
  color: #595959;
  display: block;
}

#dark-light:hover {
  background-color: #252525;
  color: #ffffff;
}

#ref_table_put a {
  margin-left: 35px;
}

#SB_Bright:hover {
  background-image: linear-gradient(90deg, #0000F4, #000000, #E93323);
  color: #ffffff;
}

#SB_Blues:hover {
  background-image: linear-gradient(90deg, #0000f1, #000000, #891bd5);
  color: #ffffff;
}

#SB_Inverted:hover {
  background-image: linear-gradient(90deg, #56aaff, #ffffff, #9e8dfc);
  color: #383838;
}

#SB_Grays:hover {
  background-image: linear-gradient(90deg, #7d7d7d, #000000, #7d7d7d);
  color: #ffffff;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

/*                                                                    UNIT COVERTER CODE                        */

.converter-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.custom_sidebar .custom_field .converter-wrapper p {
  padding: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  color: #595959;
}

.converter-wrapper input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  height: 40px;
  box-sizing: border-box;
}

.converter-wrapper span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.converter-wrapper span select {
  background-color: #137ac3;
  color: #fff;
  font-size: inherit;
  padding: 10px;
  width: 100%;
  border: 0;
  margin: 0;
  border-radius: 0px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
  /* hide default arrow in chrome OSX */
}

.converter-wrapper span::before, .converter-wrapper span::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.converter-wrapper span::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.5em;
  top: 50%;
  margin-top: -.5em;
  color: #131B24;
}

.converter-wrapper span::before {
  /*  Custom dropdown arrow cover */
  width: 2.5em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0;
  background-color: #127bc4;
}

.converter-side-a, .converter-side-b {
  float: left;
  margin-top: 10px;
  box-sizing: border-box;
  width: 45%;
}

.converter-equals {
  float: left;
  box-sizing: border-box;
  width: 10%;
  font-size: 2.4em;
  line-height: 0;
  text-align: center;
}

.converter-side-a {
  padding-right: 10px;
}

.converter-side-b {
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  #custom_open, #sidebarDiv {
    display: none;
  }
}

@media print {
  #custom_open, #sidebarDiv {
    display: none;
  }
  section.mt-content-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  section.mt-content-container {
    text-align: justify !important;
  }
}