#OERMODAL {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: none;
    justify-content: center;
    align-content: center;
}

#OERCONTENT {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40vw;
    z-index: 30000001;
    margin-left: 0;
    top: calc(50% - 137px);
    position: absolute;
    border-radius: 10px;
}

#OERCONTENT input {
    margin: 5px;
}