.status {
	padding: 10px;
	border-radius: 10px;
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px 5px 20px 5px;
}

.CenterContainer > .navigationBar {
	border-radius: 10px;
	color: white;
	background-color: #127bc4;
	display: flex;
	align-items: center;
	margin: 10px 0;
	padding: 10px;
}

.navigationBar select, .navigationBar > option {
	background: #127bc4;
	width: fit-content;
	color: white;
}



#results {
	white-space: pre;
	max-height: 400px;
}

#FindReplace {
	display: flex;
	flex-direction: column;
}

.topPanel {
	display: flex;
	margin: 0px 10px;
}

.topPanel > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	flex: 1;
	padding: 10px;
	background-color: #f3f3f3;
	border-radius: 10px;
	margin: 5px;
}
.topPanel label{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.CenterContainer label:after {
	content: none;
}

input:focus, input:hover, .no-touch input:hover {
	border: unset;
	box-shadow: unset;
}

.mt-checkbox, input[type=checkbox], input[type=radio] {
	position: absolute;
}

h1, h2, h3, h4, h5, h6{
	font-size: unset;
}

.mt-legend, legend {
	 font-size: unset;
	 margin: unset;
	 padding: unset;
}