#warningModal {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    display: none;
    z-index: 10000;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0);
}

#warningModalContent {
    font-family: 'Roboto';
    font-size: 14px;
    background-color: #EFEFEF;
    margin: auto;
    padding: 15px;
    width: 40%;
    box-shadow: -2px 8px 10px #c7c7c7;
}

.libre-cc-icons img {
    height: 25px;
    vertical-align: top;
    margin-top: 1px;
}

.libre-cc-icons img:not(:last-child) {
    padding-right: 2px;
}