.tippy-box[data-theme~='light'] {
    background-color: #e7f6fe !important;
    color: black;
    border: 2px solid #34b4f5;
    text-align: left;
    color: #0a73a5;
    /* z-index: 991; */
}
.tippy-box[data-theme~='light'] > .tippy-arrow::before {
    /* color: #30b3f6; */
    background: #e7f6fe;
    border: 2px solid #34b4f5;
    margin: -2px;
}

.tippy-box[data-theme~='dark'] {
    background-color: #333 !important;
    border: 2px solid black;
    text-align:left;
    color: white;
    /* z-index: 991; */
}
.tippy-box[data-theme~='dark'] > .tippy-arrow::before {
    /* color: #30b3f6; */
    background: #333;
    border: 2px solid black;
    margin: -2px;
}

[data-tippy-root] {
    display: inline;
}

.glossarizer_replaced:hover {
    border-bottom: 1px #333 dotted;
    background-color:#bbe2f8;
}

.glossarizer_replaced {
    cursor: help;
    display: inline;
    text-decoration-line: none;
}
.tippy-arrow {
    color: #30b3f6;
    margin: -2px;
}

[data-tippy-root] {
    display: inline;
}

.glossaryTable {
    display: none;
}
.glossaryTerm {
    font-weight: bold;
}

p.glossaryElement {
    font-size: 1.0rem;
    margin: 0.5rem 0 1em;
}


