.glossarizer_replaced:hover {
    border-bottom: 1px #333 dotted;
}

.glossarizer_replaced {
    cursor: help;
    display: inline;
    text-decoration-line: none;
}

.glossarizerTooltip {
    text-align: center;
    color: #098dd0;
    background: #e5f5fe;
    position: absolute;
    z-index: 100;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #30b3f6;
}

.glossarizerTooltip p {
    margin-top: 0;
}

.glossarizerTooltip .caption {
    margin-top: 0;
}
.glossarizerTooltip .glossarySource {
    text-align: right;
    margin: 0;
}

.glossarizerTooltip:before {
    content: 'x';
    position: absolute;
    color: #098dd0;
    right: 8px;
    top: 3px;
    font-size: 12px;
}
.glossarizerTooltip:after {/* triangle decoration */
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #30b3f6;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 2px solid #30b3f6;
    top: -20px;
    bottom: auto;
}


.glossarizerTooltip.left:after {
    left: 10px;
    margin: 0;
}

.glossarizerTooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}

.glossaryTable {
    display: none;
}
.glossaryTerm {
    font-weight: bold;
}
.glossaryElement {
    margin-bottom: 1em;
}
