.glossarizer_replaced:hover {
    border-bottom: 1px #333 dotted;
    background-color:#bbe2f8;
}

.glossarizer_replaced {
    cursor: help;
    display: inline;
    text-decoration-line: none;
}
.tippy-arrow {
    color: #30b3f6;
    margin: -2px;
}

.tippy-box {
    text-align: center;
    color: #30b3f6;
    background: #e5f5fe;
    z-index: 991;
    border: 2px solid #30b3f6;
}

.glossaryTable {
    display: none;
}
.glossaryTerm {
    font-weight: bold;
}

p.glossaryElement {
    font-size: 1.0rem;
    margin: 0.5rem 0 1em;
}
