body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: #127AC2;
	font-family: 'Open Sans', sans-serif;
	align-content: stretch;
	box-sizing: border-box;
}

#frontContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 720px;
	color: white;
	padding: 50px;
	border: 1px solid red;
	background-image: url("http://localhost:3001/print/med.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#backContainer {
	display: flex;
	flex-direction: column;
	width: 720px;
	color: white;
	padding: 50px;
	border: 1px solid red;
}

#spine {
	display: flex;
	flex: 1;
	flex-direction: column;
	background-color: black;
	justify-content: flex-start;
	padding-top: 60px;
	align-items: center;
}
#spine > img {
	max-width: 80%;
}

#frontContainer > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	border: 1px solid green;
	margin-right: 120px;
}

#frontTitle {
	border: 1px solid black;
	font-size: 50px;
	text-transform: uppercase;
}

#frontCite {
	border: 1px solid black;
	font-size: 28px;
}