body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: #127bc4;
	font-family: 'Open Sans', sans-serif;
	align-content: stretch;
	box-sizing: border-box;
}

#frontContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 800px;
	color: white;
	padding: 50px;
	background-size: contain;
	background-repeat: no-repeat;
}

#backContainer {
	display: flex;
	flex-direction: column;
	width: 800px;
	color: white;
	padding: 50px;
	background-size: contain;
	background-repeat: no-repeat;
}

#spine {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	padding: 60px 0;
	align-items: stretch;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#spine > img {
	max-width: 80%;
}

#frontContainer > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	margin-right: 120px;
}

#frontTitle {
	font-size: 50px;
	text-transform: uppercase;
}

#frontCite {
	font-size: 28px;
}