.Text {
	width: 20vmin;
	height: 30vmin;
	/*border: 1px solid black;*/
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.side {
	background-color: #0c85d0;
	width: 20vmin;
	height: 30vmin;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.Center {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}