/* Partner Area CSS */
.partners-logo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
}

.partners-logo a {
	display: inline-block;
	max-width: 15%;
	margin-bottom: 15px;
}
#topHeader {
	display: flex;
	flex-wrap: wrap;
}

#topHeader > ol {
	display: flex;
	justify-content: space-around;
	flex: 1;
}

#topHeader > ol > li > a {
	display: flex;
	align-items: center;
	border: 2px solid white;
	border-radius: 10px;
	padding: 2px;
	color: #127bc4;
	/* font-size: 0px; */
	transition-duration: .5s;
	flex-direction: column;
	text-align: center;
}

#topHeader > ol > li:last-child {
	margin-right: 1rem;
}

#topHeader > ol > li > a:hover {
	font-size: medium;
}

#topHeader > ol > li > a > img {
	width: 23px;
	height: 23px;
	margin-right: 2px;
	object-fit: contain;
	max-width: unset;
}

@media only screen and (max-width: 767px) {
	.partners-logo a {
		max-width: 30%;
	}
}
@media only screen and (max-width: 1350px) {
	#topHeader > ol {
		font-size: 0px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.partners-logo a {
		max-width: 150px;
	}
}
div.elm-nav-container > a > img {
	max-width: unset;
}

nav.elm-nav.my-custom-class {
	padding: .25rem 0;
}

#bottomFooter p.mt-align-center {
    margin: 5px;
    line-height: initial;
}

.LTBranding {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: min-content;
}

.LTBranding img{
	object-fit: contain;
}