#printme {
	/*display: none;*/
	padding: 4px;
	background-color: #c53030;
	color: white;
	margin-right: 2px;
	cursor: pointer;
}

#printme:hover {
	background-color: #952727;
}

.optimize {
	display: flex;
	flex-wrap: wrap;
}

@media print {
	.elm-meta-top .mt-article-pagination * {
		display: none;
	}

	.mt-author-container {
		background: #f0f0f0;
		border-radius: .5em;
	}

	#elm-main-content {
		padding-bottom: 0;
	}
}

/*GeoGebra fix*/
article.elm-content-container, section.mt-content-container {
	height: auto !important;
	width: auto !important;
}


.elm-meta-top .mt-article-pagination a {
	width: auto;
	color: #30b3f6;
}

.elm-meta-top .mt-article-pagination a:hover {
	color: #b4b4b4;
}

.elm-meta-top .elm-article-pagination {
	float: unset;
}

#elm-main-content ol.elm-meta-data .elm-social-share {
	margin: 0;
}

#donate {
	background-color: green;
	color: white;
	display: flex;
	padding: 5px;
	align-items: center;
	font-size: 80%;
}

#donate:hover {
	background-color: #005E00;
}


a.notSS {
	width: auto;
	height: auto;
	margin-top: 0;
}

.toc-button.mt-icon-hierarchy-trigger-closed:before {
	content: "\e8a6";
	font-size: 150%;
}

.fancytree-icon:before {
	content: "\e8aa";
}

.mt-icon-hierarchy-trigger-open:before {
	font-size: 150%;
}

span.fancytree-has-children > .fancytree-icon:before {
	content: "\e8b3";
}

.fancytree-title a {
	color: #666;
}

span.fancytree-selected .fancytree-title, span.fancytree-selected .fancytree-icon {
	color: #1a9003;
}

.toc-hierarchy > div {
	display: none;
}

.toc-hierarchy h6 {
	margin-top: 0;
	color: #137ac3
}

.pageInfo {
	float: left;
	margin: 0 1em 0 0;
}

.cc {
	color: black;
}

#pageTagsHolder {
	display: none;
}

#batchPrint {
	display: flex;
	align-items: stretch;
	justify-content: center;
}

#thinCC {
	display: flex;
	align-items: center;
	justify-content: center;
	background: darkred;
	padding: 5px;
	color: white;
	font-size: 80%;
	margin: 0;
	width: unset;
	height: unset;
}

#thinCC:hover {
	background: #650000;
}

#TOCbutton {
	margin: 2px;
	display: flex;
	line-height: 2.4;
	justify-content: center;
	align-items: center;
	color: #127bc4;
	font-size: 100%;
	height: 100%;
}

div.propagatorLoader {
	display: flex;
	margin: 10px;
	justify-content: center;
}

.loaderStatus {
	/* flex: 1; */
	justify-content: center;
	text-align: center;
}

figure {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.mt-video-widget:not(.cke_widget_element) {
	margin: 0 auto !important;
}

#copyResults img {
	width: 30px;
	height: 30px;
	object-fit: contain;
}

#LTform, #LTPreview {
	display: flex;
	flex-direction: column;
}

#LTFormContainer, .LTFormHeader, #LTFormFooter {
	display: flex;
}

#LTFormContainer .fancytree-container, #LTPreviewForm .fancytree-container {
	background: #f3f3f3;
	border-radius: 10px;
	overflow: auto;
	flex: 1;
}

#LTLeft, #LTRight, #LTPreviewForm {
	flex: 1;
	align-items: stretch;
	height: 60vh;
	max-width: 45vw;
	overflow: hidden;
	width: 100%;
	background: #f3f3f3;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

#LTLeft {
	border-radius: 0 0 10px 10px;
}

select#LTFormSubdomain {
	border-radius: 10px 10px 0 0;
}

#LTFormFooter {
	flex-direction: column;
}

#LTPreview {
	display: none;
}

#LTRight ul ul span.fancytree-title:after {
	content: "\e819";
	font-family: Icomoon;
	margin-left: 5px;
	font-size: medium;
}

.LTFormHeader {
	justify-content: flex-end;
	margin-top: 30px;
	background-color: #127bc4;
	padding: 10px;
	border-radius: 5px;
	color: white
}

ul.ui-fancytree.fancytree-container.fancytree-plain.fancytree-ext-dnd5 {
}

#LTFormContainer > div {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	height: 60vh;
	max-width: 45vw;
}

.LTTitle {
	flex: 1;
	display: flex;
	align-items: center;
}

div#LTPreviewForm {
	max-width: unset;
	margin: 10px;
	width: auto;
}

div#LTLeftAlert, div#LTRightAlert {
	height: 30px;
	background-color: rgba(18, 122, 196, 0.61);
	width: inherit;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

select#LTFormSubdomain {
	border-radius: 10px 10px 0 0;
}

#getTOCLink {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: slategrey;
	color: white;
	width: fit-content;
	margin-right: 2px;
	padding: 0 3px;
}

.annotator-frame .annotator-bucket-bar {
	background: none;
}

.mobileOnly {
	display: none;
}

#RemixerIcon, #DownloadIcon {
	width: auto;
}

#RemixerIcon:before, #DownloadIcon:before {
	vertical-align: middle;
}

.elm-header-user-nav .mt-user-menu li.mt-user-quick-login {
	margin-left: 0;
}

#LTRight > ul > li {
	min-height: 100%;
}

.react-toggle {
	height: 24px;
}

.buttonsetForm > button:first-child {
	background: #525050;
	color: white;
}


/* Dropdown Button */
#DownloadsDropdown .dropbtn {
	background-color: #0c85d0;
	color: white;
	border: none;
	height: 100%;
	padding: 5px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

/* The container <div> - needed to position the dropdown content */
#DownloadsDropdown.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#DownloadsDropdown .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	flex-direction: column;
	align-items: stretch;
	width: max-content;
	width: -moz-max-content;
}

/* Links inside the dropdown */
#DownloadsDropdown .dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	width: initial;
	text-align: center;
	background-color: #0c85d0;
	font-size: 12px;
}

#DownloadsDropdown .dropdown-content a:before {
	margin-right: .5em;
}

/* Change color of dropdown links on hover */
#DownloadsDropdown .dropdown-content a:hover {
	color: #141414;
	background-color: #f5f7fa;
	transition-duration: 500ms;
	border-radius: 5px 5px 0 0;
}

#DownloadsDropdown .dropdown-content a:not(:first-child) {
	border-top: 1px solid white;
}

/* Show the dropdown menu on hover */
#DownloadsDropdown.dropdown:hover .dropdown-content {
	display: flex;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#DownloadsDropdown.dropdown:hover .dropbtn {
	background-color: #0f67a6;
}

nav.elm-header-user-nav > div.elm-nav-container > ol {
	display: flex;
}


nav.elm-header-user-nav > div.elm-nav-container > ol > li {
	display: flex;
}

li.elm-global-search {
	flex: 1
}

#mt-site-search-input {
	width: auto;
}

.LTBranding {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: min-content;
}






/*Media Queries*/
@media (max-width: 600px) {
	.mobileOnly {
		display: block;
	}

	.mobileHide {
		display: none;
	}

	.LTBranding {
		flex-direction: column;
	}

}

@media (max-width: 875px) {
	#RemixerIcon, #DownloadIcon {
		width: 1.95em;
	}
}

@media (min-width: 1000px) {
	nav.elm-header-global-nav ol.mt-breadcrumbs {
		max-width: 85% !important;
	}

	#TOCbutton {
		width: auto;
	}
}

@media (max-width: 1001px) {

	#TOCbutton {
		width: 20px;
		justify-content: flex-start;
	}
}