.youtubeImageContainer {
	display: none;
	page-break-inside: avoid;
}

.youtubeImage {
	object-fit: cover;
}

.ytp-large-play-button {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 68px;
	height: 48px;
	margin-left: -34px;
	margin-top: -24px;
	-moz-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
	-webkit-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
	transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
	z-index: 63;
	display: none;
}

.ytp-button:focus, .ytp-button {
	border: none;
	background-color: transparent;
	padding: 0;
	color: inherit;
	text-align: inherit;
	font-size: 100%;
	font-family: inherit;
	cursor: default;
	line-height: inherit;
	outline: 0
}

@media print {
	.youtubeIFrame {
		display: none
	}

	.mt-video-widget .youtubeImage {
		width: 100%;
		height: inherit!important;
	}

	.mt-video-widget .youtubeImage, .mt-video-widget .youtubeImageContainer {
		position: absolute;
	}

	.youtubeImageContainer {
		display: block;
		width: 100%;
		height: 100%;
	}

	.mt-video-widget .ytp-button {
		display: block;
	}
}

.qrcode {
	display:block;
	align:center;
}
