body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    width: 100%;
    color: #fff;
}

#heading {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    margin: 0;
    display: inline-block;
}

.information {
    position: absolute;
    left: 0;
    padding: 5px;
    overflow-y: auto;
    pointer-events: none;
}

.results {
    pointer-events: initial;
}

#description {
    background-color: #006290;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px black;
}

@media all and (orientation: portrait) {
    .information {
        bottom: 0;
        width: 100%;
    }

    .button-style {
        position: fixed;
        top: 2px;
        left: 2px
    }

    .jana-style {
        position: fixed;
        top: 2px;
        right: 2px
    }

    .results {
        overflow-y: auto;
        max-height: 40vh;
    }
}

@media all and (orientation: landscape) {
    .information {
        top: 0;
        width: 30%;
        height: 100%
    }

    .button-style {
        position: fixed;
        bottom: 2px;
        left: 2px;
        z-index: 2
    }

    .jana-style {
        position: fixed;
        bottom: 2px;
        right: 2px
    }
}